// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.banner {
  padding: 10px;
  margin: 10px;
}

.bg-green {
  background-color: #ccffcc;
}

.bg-yellow {
  background-color:#F9A825;
}

.bg-red {
  background-color:#ff6666;
}

.bg-grey {
  background-color: #dddddd;
}

.banner-title {
  font-weight: bold;
  font-size: 1.5em;
}

.success {
  background-color: #ccffcc;
}
.warning {
  background-color:#F9A825;
}
.failure {
  background-color: #ff6666;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}

.student-details {
  display: flex;
  flex-direction: row;
  font-size: 20px;

  .serial-no {
    border: 1px;
    border-style: solid;
    border-right: none;
    padding: 0 4px;
    font-size: 28px;
  }

  .student {
    border: 1px;
    border-style: solid;
    padding: 0 16px;
  }

  .bold {
    font-weight: bold;
  }
}

.token {
  display: flex;
  flex-direction: column;

  padding: 16px 0 32px 0;

  input {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.banner {
  span {
    font-size: 20px;
  }
}
