table {
  border: 1px solid;
  table-layout: fixed;
  border-collapse: collapse;
}

thead {
  text-align: left;
  font-weight: 700;
}

th,
td {
  border: 1px solid #ddd;
  padding: .5em;
}

.auto-serial {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.auto-serial td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}
